libtool
Makefile
aclocal.m4
compile
depcomp
install-sh
ltmain.sh

.vscode
.DS_Store
**/*.o
**/*.Po
**/*.lo
**/*.a
**/*.la
**/*.lai
**/*.so.*
**/*.cache
**/*.spec
**/.deps
**/.dirstamp
**/.libs
**/config.h
**/config.h.in
**/config.h.in~
**/config.log
**/config.status
**/config.guess
**/config.sub
**/configure
**/missing
**/Makefile.in
**/stamp-h1
**/compile_commands.json

*.toml
!/conf_example.toml
