[submodule "extern/tomlcpp"]
	path = extern/tomlcpp
	url = git@github.com:cktan/tomlcpp.git
[submodule "extern/eRPC-arm"]
	path = extern/eRPC-arm
	url = git@github.com:Peter-JanGootzen/eRPC-arm.git
[submodule "extern/RAMCloud"]
	path = extern/RAMCloud
	url = git@github.com:PepperJo/RAMCloud.git
[submodule "extern/libnfs"]
	path = extern/libnfs
	url = git@github.com:sahlberg/libnfs.git
